<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="AppParam" value="None"/>
  </appSettings>
  <TestSettings>
    <add key="FirstParam" value="One"/>
    <add key="SecondParam" value="Two"/>
  </TestSettings>
</configuration>