[project]
	description = Don't Waste Your Time Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Igor Burkovych (iburkov)
[access "refs/for/refs/*"]
	read = group user/Igor Burkovych (iburkov)
	push = group user/Igor Burkovych (iburkov)
	label-Code-Review = -2..+2 group user/Igor Burkovych (iburkov)
	label-Verified = -1..+1 group user/Igor Burkovych (iburkov)
	rebase = group user/Igor Burkovych (iburkov)
	removeReviewer = group user/Igor Burkovych (iburkov)
	submit = group user/Igor Burkovych (iburkov)
[access "refs/heads/*"]
	read = group user/Igor Burkovych (iburkov)
	create = group user/Igor Burkovych (iburkov)
	push = +force group user/Igor Burkovych (iburkov)
	pushMerge = group user/Igor Burkovych (iburkov)
[access "refs/tags/*"]
	push = +force group user/Igor Burkovych (iburkov)
	pushTag = group user/Igor Burkovych (iburkov)
	pushSignedTag = group user/Igor Burkovych (iburkov)
